@model Inscripciones.Models.Alumno

@{
    ViewData["Title"] = "Edit";
}

<<<<<<< HEAD
<h1>Edit</h1>
=======
<h1>Editar</h1>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea

<h4>Alumno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ApellidoNombre" class="control-label"></label>
                <input asp-for="ApellidoNombre" class="form-control" />
                <span asp-validation-for="ApellidoNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <input type="submit" value="Save" class="btn btn-primary" />
=======
                <input type="submit" value="Guardar" class="btn btn-primary" />
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
            </div>
        </form>
    </div>
</div>

<div>
<<<<<<< HEAD
    <a asp-action="Index">Back to List</a>
=======
    <a asp-action="Index">Volver a la lista</a>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
