@{
<<<<<<< HEAD
    ViewData["Title"] = "Inscripciones a materias";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
=======
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
    <p>Dirigirse al <a href="http://isp20.edu.ar/nuevo/">Instituto Superior del Profesorado N° 20</a>.</p>
>>>>>>> 22dffa65b1a09e04e32f7b43817b799fa45ab3ea
    <img src="~/imgs/portada.png"  style="float:right; margin:20px" />
</div>
