@{
    ViewData["Title"] = "Home Page";
}

<img src="~/imgs/banner.png" width="1350" />
<div class="text-center">
    <h1 class="display-4">Instituto Superior De Profesorado N°20</h1>
    <p>Nuestro Sitio <a href="https://www.isp20.edu.ar">Click Aqui</a>.</p>

</div>
