@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
    <p>Dirigirse al <a href="http://isp20.edu.ar/nuevo/">Instituto Superior del Profesorado N° 20</a>.</p>
</div>
